/* ==========================================================================
   Mint skin
   ========================================================================== */

/* Colors */
$background-color: #ffffff !default;
$text-color: #3a3b3c !default;
$muted-text-color: #d89279 !default;
$primary-color: #bf8f72 !default;
$border-color: #ffffff !default;
$footer-background-color: #eee3dd !default;
$link-color: #925946 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #3a3b3c !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
